.sectionn {
  padding: 4.5rem 0 2rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.popular__container {
  padding: 2rem 10rem 5rem;
}

.elements {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: #2c3e50;
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  right: 38rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

@media screen and (max-width: 1600px) {
  .elements {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 920px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
  }
}
